# log4cpp configuration for Trafodion 

trafodion.log.dir=${MY_SQROOT}/logs
#trafodion.log.dir=.

#Root category
log4cpp.rootCategory=INFO

#####
#Custom categories and their appenders go here...
#####


#OSIM
log4cpp.category.OSIM=INFO, osimAppender1, osimAppender2

log4cpp.appender.osimAppender1=ConsoleAppender
log4cpp.appender.osimAppender1.layout=PatternLayout
log4cpp.appender.osimAppender1.layout.ConversionPattern=%d [%p] %m%n

log4cpp.appender.osimAppender2=RollingFileAppender
log4cpp.appender.osimAppender2.fileName=${trafodion.log.dir}/osim.log
log4cpp.appender.osimAppender2.maxFileSize=100000000
log4cpp.appender.osimAppender2.maxBackupIndex=1
log4cpp.appender.osimAppender2.addPid=false
log4cpp.appender.osimAppender2.layout=org.apache.log4cpp.PatternLayout
log4cpp.appender.osimAppender2.layout.ConversionPattern=%d, %p, %c, %m%n
log4cpp.appender.osimAppender2.Append=true

