# log4cpp configuration for Trafodion Foundation - Monitor process

trafodion.log.dir=${MY_SQROOT}/logs

#Root category
log4j.rootCategory=INFO

# Foundation Monitor
log4j.category.MON=INFO, monAppender

log4j.appender.monAppender=org.apache.log4j.RollingFileAppender
log4j.appender.monAppender.fileName=${trafodion.log.dir}/mon
log4j.appender.monAppender.maxFileSize=100000000
log4j.appender.monAppender.maxBackupIndex=1
log4j.appender.monAppender.addPid=false
log4j.appender.monAppender.layout=org.apache.log4j.PatternLayout
log4j.appender.monAppender.layout.ConversionPattern=%d, %p, %c, %m
log4j.appender.monAppender.Append=true
