# log4cpp configuration for Trafodion Foundation - SQWatchdog process

trafodion.log.dir=${MY_SQROOT}/logs

#Root category
log4j.rootCategory=INFO

# Foundation Monitor: SQWatchdog process
log4j.category.WDG-SNMP=INFO, wdtSnmpAppender

log4j.appender.wdtSnmpAppender=org.apache.log4j.RollingFileAppender
log4j.appender.wdtSnmpAppender.fileName=${trafodion.log.dir}/wdg.snmp
log4j.appender.wdtSnmpAppender.maxFileSize=100000000
log4j.appender.wdtSnmpAppender.maxBackupIndex=1
log4j.appender.wdtSnmpAppender.addPid=false
log4j.appender.wdtSnmpAppender.layout=org.apache.log4j.PatternLayout
log4j.appender.wdtSnmpAppender.layout.ConversionPattern=%d, %p, %c, %m
log4j.appender.wdtSnmpAppender.Append=true
