# log4cpp configuration for Trafodion Foundation - Monitor process

trafodion.log.dir=${MY_SQROOT}/logs

#Root category
log4j.rootCategory=INFO

# Foundation Monitor
log4j.category.MON-SNMP=INFO, monSnmpAppender

log4j.appender.monSnmpAppender=org.apache.log4j.RollingFileAppender
log4j.appender.monSnmpAppender.fileName=${trafodion.log.dir}/mon.snmp
log4j.appender.monSnmpAppender.maxFileSize=100000000
log4j.appender.monSnmpAppender.maxBackupIndex=1
log4j.appender.monSnmpAppender.addPid=false
log4j.appender.monSnmpAppender.layout=org.apache.log4j.PatternLayout
log4j.appender.monSnmpAppender.layout.ConversionPattern=%d, %p, %c, %m
log4j.appender.monSnmpAppender.Append=true
